body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

button{
    background-color: yellow; 
    margin-top: 20px;
}

.title{
    margin-bottom: 10px;
}

thead {
    background-color: #1d1d88;
    color: #ffffff;
}

table, tr,td{
    border: 1px solid black;
    margin: 0;
}

td{
    padding: 3px 7px;
}

tbody {
    background-color: #f2f2f2;
}
