*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.city-locater{
    /* background-color: white; */
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: white;
    font-weight: 600;
} 

h2 span{
    color: #1e130c;
}

.container{
    border: 2px solid rgba(240, 240, 240, 0.808);
    background: transparent;
    height: 70%;
    width: 60%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between;  */
    background-color: rgba(0, 0, 0, 0.493);
}
 
.all-dropdown{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; 
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.973);
    
}

.all-dropdown .one, .two, .three{ 
   height: 25px;
   font-size: 1.2rem;
}

.one{
    width: 40%;
}

.two{
    width: 30%;
}

.btns{
   display: flex;
   align-items: center;
   justify-content: center;

}


